  <div class="user-card">
  <img class="user-img" src="<%=@user.photo%>">
  <div class="user-info">
    <h2><%=@user.name%></h2>
    <p class="post-count">Number of posts: <%=@user.posts_counter || 0%></p>
    </div>
  </div>

<% @user_posts.each do |post| %>
<a href='/users/<%=@user.id%>/posts/<%=post.id%>' class="post-card">
  <h2 class="post-title"><%=post.title%></h2>
  <p class="post-text"><%=post.text%></p>
  <p class="counters">Comments: <%=post.comments_counter%>, Likes: <%=post.likes_counter%></p>
</a>

<div class="comment-container">
<% post.latest_five_comments do |comment| %>
<p class="comment"><%= comment.author.name %>: <%= comment.text %></p>
<% end %>
</div>
<%end%>

