<div class="post-card">
<h2 class="post-title"><%=@post.Title%></h2>
<p class="counters">Comments: <%=@post.CommentsCounter || 0 %>, Likes: <%=@post.LikesCounter || 0 %></p>
<p class="post-text"><%=@post.Text%></p>
</div>

<div class="comment-container">
<% @post.latest_five_comments do |comment| %>
<p><%= comment.author.name %>: <%= comment.text %></p>
<% end %>
</div>